@media screen and (max-width: 31.25em) {

    body {
        width: 100%;
        margin: auto;
    }

    article img {
        width: 100%;
    }

    .renard {
        width: 10em;
        margin: auto;
    }

    .carte {
        width: 25em;
    }

    details img {
        width: 60%;
    }

    .CR {
        height: 38em;
    }

    .annexes {
        display: flex;
        flex-direction: column;
    }
    
}