body {
    max-width: 95%;
    margin: auto;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0.76234243697479) 0%, rgb(189, 67, 67) 35%, rgba(18,182,221,1) 65%, rgba(255,255,255,0.9023984593837535) 100%);


}

html {
    scroll-behavior: smooth;
}

/*Navigation du rapport*/
nav {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to left, #0a0a44, #11849c, #11849c, #11849c, #0a0a44);

}

nav div {
    display: flex;
    width: 16.6%;
    justify-content: center;
    color: beige;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2.5px black solid;
}

a {
    text-decoration: none ;
    color: inherit;
}

.titre {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introduction {
    height: 350px;
    width: 95%;
}

header h1 {
    text-align: center;
    border-bottom: 2px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16%;
    font-size: 30px;
}

header h2 {
    text-align: center;
    border-bottom: 2px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13%;
    font-size: 25px;
}


/*page de présentation*/
article p {
    text-align: center;
    font-size: 20px;
    font-family: 'Mooli', sans-serif;
}
article {
    text-align: center;
    width: 100%;
}

.renard {
    width: 240px;
    margin-right: 300px;
}

.carte {
    width: 320px;
}

h3 {
    text-align: center;
    font-size: 22px;
    color: beige;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    background-image: linear-gradient(to left, #0a0a44, #11849c, #11849c, #11849c, #0a0a44);
    height: 50px;
}
/*présentation*/
.ligne {
    display: flex;
    justify-content: space-around;
}

.P1 {
    width: 95%;
    
}

/*tâches*/

hr {
    width: 62%;
    background-color: black;
    height: 1px;
}

details, summary{
    width: 99%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

summary {
    list-style-type: none;
    margin: 1em;
    cursor: pointer;
    font-size: 18px;
}

details p {
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style-type: none;
    margin-top: 20px;
    font-size: 18px;
}

.fa-arrow-right {
    transform: rotate(0deg);
    margin-right: 1em;
}
  
details[open] i {
    rotate: 90deg;
    transition: 0.3s;
}

details:not([open]) i {
    transition: 0.3s;
}

.h4 {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

h4 {
    text-align: center;
    font-size: 20px;
    color: beige;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to left, #0a0a44, #11849c, #11849c, #11849c, #0a0a44);
    height: 50px;
    width: 800px;

}

.det1 {
    width: 100%;
}

iframe {
    border: 5px solid black;
    width: 600px;
    height: 400px;
}


.LTR1 {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

/* conclusion */
.C{
    height: 320px;
}

.R {
    height: 250px;
}

.annexes {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.renard2 {
    text-align: center;
    width: 25%;
}

.carte2 {
    text-align: center;
    width: 33%;
}

.site {
    font-family: 'Mooli', sans-serif;
    margin-top: 100px;
    font-size: 20px;
    text-align: center;

}