@media screen and (min-width: 0em) and (max-width: 22.5em) {

    body {
        width: 100%;
    }
    
    .introduction {
        height: 90em;
    }

    .C {
        height: 85em;
    }

    .R {
        height: 60em;
    }

    .annexes {
        display: flex;
        flex-direction: column;
    }

    .renard {
        margin: auto;
        margin-bottom: 1em;
    }

    nav {
        display: none;
    }

    a h3 {
        cursor: default;
    }

}