@media screen and (max-width: 76.125em) {

    body {
        width: 95%;
        margin: auto;
    }

    nav div {
        text-align: center;
    }

    header h1, header h2 {
        width: 8em;
    }

    .det1 {
        width: 69em;
    }


}