@media screen and (max-width: 80em) {

    body {
        width: 100%;
    }

    html {
        scroll-behavior: smooth;
    }    

    nav {
        width: 100%;
    }

    nav div {
        text-align: center;
    }

    header h1, header h2 {
        width: 8em;
    }

    .introduction {
        height: 400px;
    }

    .LTR1 {
        width: 100%;
    }

    .det1 {
        width: 96%;
    }
    
}