body {
    max-width: 95%;
    margin: auto;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0.76234243697479) 0%, rgb(189, 67, 67) 35%, rgba(18,182,221,1) 65%, rgba(255,255,255,0.9023984593837535) 100%);
}

html {
    scroll-behavior: smooth;
}

/*Navigation du rapport*/
nav {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to left, #0a0a44, #11849c, #11849c, #11849c, #0a0a44);

}

nav div {
    display: flex;
    width: 16.6%;
    justify-content: center;
    color: beige;
    font-size: 1.188em;
    font-family: Arial, Helvetica, sans-serif;
    border: 0.156em black solid;
    text-align: center;
}

a {
    text-decoration: none ;
    color: inherit;
}

.titre {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introduction {
    height: 21.875em;
    width: 95%;
}

header h1 {
    text-align: center;
    border-bottom: 0.125em black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16%;
    font-size: 1.875em;
}

header h2 {
    text-align: center;
    border-bottom: 0.125em black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13%;
    font-size: 1.563em;
}


/*page de présentation*/
article p {
    text-align: center;
    font-size: 1.25em;
    font-family: 'Mooli', sans-serif;
}
article {
    text-align: center;
    width: 100%;
}

.renard {
    width: 15em;
    margin-right: 18.75em;
}

.carte {
    width: 20em;
}

h3 {
    text-align: center;
    font-size: 1.375em;
    color: beige;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    background-image: linear-gradient(to left, #0a0a44, #11849c, #11849c, #11849c, #0a0a44);
    height: 3.125em;
    
}
/*présentation*/
.ligne {
    display: flex;
    justify-content: space-around;
}

.P1 {
    width: 95%;
    
}

/*tâches*/

hr {
    width: 62%;
    background-color: black;
    height: 0.063em;
}

details, summary{
    width: 99%;
    margin-top: 0.625em;
    margin-bottom: 0.625em;
    font-family: Arial, Helvetica, sans-serif;
}

summary {
    list-style-type: none;
    margin: 1em;
    cursor: pointer;
    font-size: 1.125em;
}

details p {
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style-type: none;
    margin-top: 20px;
    font-size: 1.125em;
}

.fa-arrow-right {
    transform: rotate(0deg);
    margin-right: 1em;
}
  
details[open] i {
    rotate: 90deg;
    transition: 0.3s;
}

details:not([open]) i {
    transition: 0.3s;
}

.h4 {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

h4 {
    text-align: center;
    font-size: 1.25em;
    color: beige;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to left, #0a0a44, #11849c, #11849c, #11849c, #0a0a44);
    height: 3.125em;
    width: 50em;

}

.det1 {
    width: 100%;
}

iframe {
    border: 0.313em solid black;
    width: 37.5em;
    height: 25em;
}


.LTR1 {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 1.25em;
}

/* conclusion */
.C{
    height: 20em;
}

.R {
    height: 15.625em;
}

.annexes {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.renard2 {
    text-align: center;
    width: 25%;
}

.carte2 {
    text-align: center;
    width: 33%;
}

.site {
    font-family: 'Mooli', sans-serif;
    margin-top: 6.25em;
    font-size: 1.25em;
    text-align: center;

}