@media screen and (max-width: 26.563em) {

    body {
        width: 100%;
    }
    
    .introduction {
        height: 92em;
    }

    .C {
        height: 56em;
    }

    .R {
        height: 40em;
    }

    .annexes {
        display: flex;
        flex-direction: column;
    }

    .renard {
        margin: auto;
        margin-bottom: 1em;
    }

}