body {
    max-width: 100%;

}
/*Navigation du rapport*/
nav {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to left, #0a0a44, #11849c, #0a0a44, #11849c, #0a0a44);

}

nav div {
    display: flex;
    width: 16.6%;
    justify-content: center;
    color: beige;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    border: 3.2px black solid;
}

.titre {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    text-align: center;
    border-bottom: 2px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16%;
    font-size: 30px;
}

header h2 {
    text-align: center;
    border-bottom: 2px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13%;
    font-size: 25px;
}

hr {
    margin-top: 2em;
    margin-bottom: 2em;
    height: 3px;
    position:static;
    background-color: gray;
}

/*page de présentation*/
article {
    width: 100%;
}
article p {
    text-align: center;
    font-size: 20px;
    font-family: 'Mooli', sans-serif;
}
article  {
    text-align: center;
    max-height: 600px;
    min-height: 500px;
}

.renard {
    width: 16%;
    margin-right: 300px;
}

.carte {
    width: 22%;
}

/*Introduction*/

h3 {
    text-align: center;
    font-size: 22px;
    color: beige;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to left, #0a0a44, #11849c, #0a0a44, #11849c, #0a0a44);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    

}

.introduction {
    height: 600px;
}