@media screen and (max-width: 22.5em) {

    body {
        width: 96%;
    }
    
    .introduction {
        height: 105em;
    }

    .C {
        height: 62em;
    }

    .R {
        height: 47em;
    }

    .annexes {
        display: flex;
        flex-direction: column;
    }

    .renard {
        margin: auto;
        margin-bottom: 1em;
    }

}